html.dark {
  --mytho-code-font: "cascadia code";
  --mytho-global-en-font: "Geogrgia";
  --mytho-global-cn-font: "楷体";
  --mytho-theme-color: var(--el-color-primary);

  .tab-system .tab-bar .tab-item {
    border: 2px solid #12121200;

    &:hover {
      border: 2px solid var(--el-color-info-light-9);

      a {
        color: var(--mytho-theme-color);
      }
    }

    a.active {
      background-color: var(--mytho-theme-color);
      color: white;
    }
  }

  .file-system .folder .item {
    border: 2px solid rgba(18, 18, 18);
  }

  .resize-line {
    border-right: 2px dashed var(--el-color-info-light-9);
  }

  .resize-bar:hover ~ .resize-line,
  .resize-bar:active ~ .resize-line {
    border-right: 4px dashed var(--mytho-theme-color);
  }

  .vditor-ir pre.vditor-reset {
    background-color: unset;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 4px;
    cursor: pointer;
  }
}
