html.light {
  --pi-code-font: "cascadia code";
  --pi-global-en-font: "Geogrgia";
  --pi-global-cn-font: "楷体";
  --pi-theme-color: var(--el-color-primary);

  .tab-system .tab-bar .tab-item {
    border: 2px solid var(--el-bg-color);

    &:hover {
      border: 2px solid var(--el-color-info-light-9);

      a {
        color: var(--pi-theme-color);
      }
    }

    a.active {
      background-color: var(--pi-theme-color);
      color: white;
    }
  }

  .file-system .folder .item {
    border: 2px solid var(--el-bg-color);

    &:hover {
      border: 2px solid var(--el-color-info-light-9);

      a {
        color: var(--pi-theme-color);
      }
    }
  }

  .resize-line {
    border-right: 2px dashed var(--el-color-info-light-9);
  }

  .resize-bar:hover ~ .resize-line,
  .resize-bar:active ~ .resize-line {
    border-right: 4px dashed var(--pi-theme-color);
  }

  ::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 4px;
    cursor: pointer;
  }
}
