html.light {
  .tab-system .tab-bar .tab-item {
    border: 2px solid var(--el-bg-color);

    &:hover {
      border: 2px solid var(--el-color-info-light-9);

      a {
        color: var(--mytho-theme-color);
      }
    }

    a.active {
      background-color: var(--mytho-theme-color);
      color: white;
    }
  }

  .file-system .folder .item {
    border: 2px solid var(--el-bg-color);

    &:hover {
      border: 2px solid var(--el-color-info-light-9);

      a {
        color: var(--mytho-theme-color);
      }
    }
  }

  .resize-line {
    border-right: 2px dashed var(--el-color-info-light-9);
  }

  .resize-bar:hover ~ .resize-line,
  .resize-bar:active ~ .resize-line {
    border-right: 4px dashed var(--mytho-theme-color);
  }

  textarea {
    ::-webkit-scrollbar-thumb {
      background-color: lightgray;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
