@font-face {
  font-family: "NotoColorEmoji";
  src: url("./fonts/NotoColorEmoji.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "TwitterColorEmoji";
  src: url("./fonts/TwitterColorEmoji-SVGinOT.ttf") format("truetype");
  font-display: swap;
}
