body {
  font-family: var(--chronicle-global-en-font), var(--chronicle-global-cn-font);
  line-height: 1.5;

  .trotting_horse {
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        var(--chronicle-theme-color) 100%
      ),
      linear-gradient(
        0deg,
        var(--chronicle-theme-color) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(
        -90deg,
        rgba(255, 255, 255, 0) 0%,
        var(--chronicle-theme-color) 100%
      ),
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 0%,
        var(--chronicle-theme-color) 100%
      );
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 200px 4px, 4px 200px, 200px 4px, 4px 200px;
    background-position: -200px 1px, calc(100% - 1px) -200px,
      calc(100% + 200px) calc(100% - 1px), 1px 0px;
    animation: moveLine 8s infinite linear;
    height: calc(100% - 4px);
    padding: 1px;
    background-clip: content-box;
    z-index: 9999;
  }

  @keyframes moveLine {
    0% {
      background-position: -200px 1px, calc(100% - 1px) -200px,
        calc(100% + 200px) calc(100% - 1px), 1px 0px;
    }

    5% {
      background-position: 0px 1px, calc(100% - 1px) -200px,
        calc(100% + 200px) calc(100% - 1px), 1px -200px;
    }

    30% {
      background-position: 100% 1px, calc(100% - 1px) -200px,
        calc(100% + 200px) calc(100% - 1px), 1px -200px;
    }

    35% {
      background-position: calc(100% + 200px) 1px, calc(100% - 1px) 0px,
        calc(100% + 200px) calc(100% - 1px), 1px -200px;
    }

    50% {
      background-position: calc(100% + 200px) 1px, calc(100% - 1px) 100%,
        calc(100% + 200px) calc(100% - 1px), -200px -200px;
    }

    55% {
      background-position: calc(100% + 200px) 1px,
        calc(100% - 1px) calc(100% + 200px), 100% calc(100% - 1px),
        -200px calc(100% + 200px);
    }

    80% {
      background-position: calc(100% + 200px) 1px,
        calc(100% - 1px) calc(100% + 200px), 0px calc(100% - 1px),
        1px calc(100% + 200px);
    }

    85% {
      background-position: calc(100% + 200px) 1px,
        calc(100% - 1px) calc(100% + 200px), -200px calc(100% - 1px), 1px 100%;
    }

    100% {
      background-position: calc(100% + 200px) 1px,
        calc(100% - 1px) calc(100% + 200px), -200px calc(100% - 1px), 1px 0px;
    }
  }

  a {
    -webkit-user-drag: none;
  }

  input {
    font-family: var(--chronicle-global-en-font),
      var(--chronicle-global-cn-font);
  }

  .el-button > span {
    font-family: var(--chronicle-global-en-font),
      var(--chronicle-global-cn-font);
  }

  .tab-system {
    display: flex;
    flex-direction: row;
    padding: 0 4px 4px 4px;

    .tab-bar {
      width: 2.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-between;

      .sub-tab {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .tab-item {
        width: 100%;
        border-radius: 4px;
        box-sizing: border-box;
        border-radius: 4px;

        &:hover {
          cursor: pointer;
        }

        a {
          display: block;
          width: 100%;
          padding: 6px 0;
          font-weight: bolder;
          border-radius: 4px;
        }
      }
    }
  }

  .main {
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--brand-height));
  }

  .file-system {
    height: 100vh;
    display: flex;
    flex-direction: column;
    user-select: none;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .subfolder {
      padding-left: 20px;
      width: calc(100% - 20px);
      display: none;
      flex-direction: column;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .file-name {
      display: inline-block;
    }

    .folder {
      text-overflow: ellipsis;
      white-space: nowrap;

      .item {
        padding: 6px;
        font-size: 0.8rem;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        box-sizing: border-box;

        &:hover {
          cursor: pointer;
          border-radius: 6px;
          border: 2px solid var(--el-color-info-light-9);
        }

        &.clicked {
          background-color: var(--chronicle-theme-color);
          color: var(--el-bg-color);
          border-radius: 6px;
        }
      }
    }
  }

  .editor {
    font-size: 0.8rem;
    line-height: 1.5;
    word-wrap: break-word;
    width: inherit;
    height: calc(100vh - 0.2rem);

    div {
      margin-bottom: 0.5rem;
      word-break: break-all;
    }

    /* 标题 */
    .header::before {
      content: attr(data-level);
      color: #ddd;
      border: solid 1px #ddd;
      border-radius: 5px;
      padding: 4px;
      font-weight: 100;
      font-size: 50%;
      position: relative;
      bottom: 4px;
      right: 4px;
    }

    .h1 {
      font-size: 2rem;
      margin-bottom: 0.67rem;
    }

    .h2 {
      font-size: 1.8rem;
      margin-bottom: 0.5rem;
    }

    .h3 {
      font-size: 1.6rem;
      margin-bottom: 0.4rem;
    }

    .h4 {
      font-size: 1.4rem;
      margin-bottom: 0.3rem;
    }

    .h5 {
      font-size: 1.2rem;
      margin-bottom: 0.2rem;
    }

    .h6 {
      font-size: 1.1rem;
      margin-bottom: 0.18rem;
    }

    /* 强调 */
    strong {
      font-weight: bold;
    }

    /* 引用 */
    blockquote {
      padding: 1rem;
      border-radius: 0 5px 5px 0;
      margin: 0;
    }

    /* 分割线 */
    hr {
      height: 0;
      margin: 1rem 0;
      top: 0.5rem;
      position: relative;
      overflow: hidden;
      background: transparent;
      border: 0;
    }

    /* 链接 */
    a {
      color: blue;
      text-decoration: none;
    }

    a:hover {
      color: orangered;
      cursor: pointer;
    }

    /* 任务列表 */
    [type="checkbox"] {
      box-sizing: border-box;
      padding: 0;
    }

    /* 表格 */
    table {
      display: block;
      width: 100%;
      overflow: auto;
      border-collapse: collapse;
    }

    table th {
      font-weight: 600px;
      padding: 16px 13px;
    }

    table th,
    table td {
      padding: 13px 13px;
      vertical-align: middle;
      height: 30px;
      line-height: 30px;
    }

    /* 列表 */
    ul,
    ol {
      padding-left: 0;
      text-indent: 0.5rem;
      margin: 20px;
    }

    ol ol,
    ul ol {
      list-style-type: lower-roman;
    }

    ul ul ol,
    ul ol ol,
    ol ul ol,
    ol ol ol {
      list-style-type: lower-alpha;
    }

    /* 图片 */
    img {
      max-width: 100%;
      border-radius: 5px;
      margin: auto;
    }

    @media screen and (min-width: 900px) {
      img {
        max-width: 80%;
        /* max-height: 360px; */
      }
    }

    /* 代码 */
    // pre {
    // font-family: var(--chronicle-code-font);
    // }

    code {
      display: inline-block;
      background: transparent;
      border: none;
      //   font-family: var(--chronicle-code-font);
      padding: 2px;
      border-radius: 4px;
    }

    .language {
      font-size: 0.8rem;
      float: right;
      justify-content: space-between;
      color: gray;
    }

    .code-block {
      border-radius: 5px;
      padding: 8px;
      // font-family: var(--chronicle-code-font);

      .cm-editor {
        margin-bottom: 0;
        border: none;
        width: 100%;
      }

      .cm-scroller {
        margin-bottom: 0;
      }

      .cm-content {
        padding: 0px;
      }

      .content {
        border: none;
        padding: 0;
      }
    }
  }

  .selection {
    font-size: 0.8rem;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 32px;
    text-align: center;
    border-radius: 5px;
    display: grid;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    z-index: 999 !important;
    padding: 0 4px;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.vditor-ir__node[data-type="yaml-front-matter"] {
  display: none;
}
